B1_SERVICE_LAYER_URL=https://domain:50000/b1s/v1
B1_COMPANY_DB=SBOBase
NEXT_PUBLIC_ATTACHMENTS=http://localhost:3002/Attachments2/ 
B1_CRYPTO_SECRET=IUDGih9837qyerd9ashdhqw3ydehriujabh
TZ=America/Cuiaba
B1_API_GATEWAY_URL=https://domain:60000

B1_SERVICE_LAYER_URL=https://192.168.111.20:50000/b1s/v1
B1_COMPANY_DB=SBOGJATESTES
NEXT_PUBLIC_ATTACHMENTS=http://localhost:3002/Attachments2/ 
B1_CRYPTO_SECRET=IUDGih9837qyerd9ashdhqw3ydehriujabh
TZ=America/Cuiaba
B1_API_GATEWAY_URL=https://192.168.111.20:60000

B1_SERVICE_LAYER_URL=https://telessl.b1cloud.com.br:50000/b1s/v1
B1_API_GATEWAY_URL=https://telessl.b1cloud.com.br:60000
B1_COMPANY_DB=SBOHOMOLTELES
NEXT_PUBLIC_B1_CRYPTO_SECRET=IUDGih9837qyerd9ashdhqw3ydehriujabh
B1_CRYPTO_SECRET=IUDGih9837qyerd9ashdhqw3ydehriujabh
TZ=America/Cuiaba
NEXT_PUBLIC_ATTACHMENTS=http://localhost:3002/Attachments2/

B1_SERVICE_LAYER_URL=https://192.168.111.20:50000/b1s/v1
B1_COMPANY_DB=SBOGJATESTES
NEXT_PUBLIC_ATTACHMENTS=http://localhost:3002/Attachments2/ 
B1_CRYPTO_SECRET=IUDGih9837qyerd9ashdhqw3ydehriujabh
TZ=America/Cuiaba
B1_API_GATEWAY_URL=https://192.168.111.20:60000