@value colors: "../../../styles/colors.css";
@value main from colors;

.title {    
    color: main;
    font-weight: bold;
    padding: 5px;
}

.divider {
    margin-bottom: 10px;
    color: main;       
}